<header>
  <h1>My Pomodoro Timer</h1>
</header>
<main class="timer">
  <div class="timer-value">
    <h3>{{home.timer.runTime | timeformat}}</h3>
    <div class="timer-btn">
      <button type="button"
              ng-click="home.timer.reStart()"
              ng-show="home.timer.stateChange"
              ng-bind="home.timer.btn_state">
      </button>
      <button type="button"
              ng-click="home.timer.start()"
              ng-show="!home.timer.stateChange"
              ng-bind="home.timer.btn_timer">
      </button>
    </div>
  </div>
</main>
