<section class="tasks">
  <h2>Task history</h2>
  <form ng-submit="home.addTask()">
    <input ng-model="newTask" placeholder="Enter new task">
    <button type="submit">Add task</button>
  </form>
  <div class="tasks-list"
       ng-repeat="task in home.tasks | orderBy:'createdAt':true"
       ng-class-odd="'odd'">
    <span>{{task.name}}</span>
  </div>
</section>
<main class="timer">
  <header class="timer-header">
    <h1>My Pomodoro Timer</h1>
  </header>
  <div class="timer-content">
    <div class="timer-value">
      <span>{{home.timer.runTime | timeformat}}</span>
    </div>
    <div class="timer-btn">
      <button type="button"
              ng-click="home.timer.reStart()"
              ng-show="home.timer.stateChange"
              ng-bind="home.timer.btn_state">
      </button>
      <button type="button"
              ng-click="home.timer.start()"
              ng-show="!home.timer.stateChange"
              ng-bind="home.timer.btn_timer">
      </button>
    </div>
  </div>
</main>
